.gr-loader {
  @include box-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .icon {
    @include spinner;

    fill: $cadet-blue;
    width: 60px;
    height: 60px;
    transform: rotate(360deg);
  }
}
