.grim-card {
  @include box-shadow;
  // padding: $halfSpacing 0;
  background: $white;

  header {
    @include card-gutters;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $baseSpacing;
    margin-bottom: $baseSpacing;
    border-bottom: 1px solid #ccc;

    .grim-heading,
    .grim-flag {
      margin-bottom: 0;
    }
  }

  section {
    @include card-gutters;
  }
}
