html {
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }

  &:focus {
    box-shadow: none;
    outline: solid 3px $cambridge-blue;
    outline-offset: 3px;
  }
}

html,
body {
  height: 100%;
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: $dark-gray;
  background-color: $platinum;
  margin: 0;
  padding: 0;
}

#___gatsby {
  height: 100%;

  & > div {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

ul,
ol {
  padding-left: 0;
}

ul {
  list-style: none;
  list-style-position: outside;
}

li {
  margin-left: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin-top: 0;
  margin-bottom: 0;

  &:first-child {
    margin-top: 0;
  }
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
  color: $cadet-blue;

  &:hover {
    color: $cadet-blue-dark;
    text-decoration: underline;
  }
}

// Form Elements --------------
input,
textarea,
select,
button {
  // font-family: $fontFamily;
  font-size: 16px;
}

fieldset {
  display: inline;
  border: 0;
  margin: 0;
  padding: 0;
}
