html {
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: $dark-gray;
  background-color: $platinum;
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin-left: 20px;
  padding-left: 0;
}

ul {
  list-style: disc;
  list-style-position: outside;
}

li {
  margin-left: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin-top: 0;
  margin-bottom: 0;

  &:first-child {
    margin-top: 0;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

// Form Elements --------------
input,
textarea,
select,
button {
  // font-family: $fontFamily;
  font-size: 16px;
}

fieldset {
  display: inline;
  border: 0;
  margin: 0;
  padding: 0;
}
