@mixin box-shadow {
  box-shadow: 0 1 3px rgba(0, 0, 0, 0.2);
}

@mixin container {
  max-width: 960px;
  margin: 0 auto;
}

@mixin card-gutters {
  padding-left: $baseSpacing;
  padding-right: $baseSpacing;
}

@mixin heading {
  font-size: 20px;
  line-height: 1.2;
}

@mixin body-copy {
  font-size: 16px;
  line-height: 1.1;
}
