@mixin box-shadow {
  box-shadow: 0 1 3px rgba(0, 0, 0, 0.2);
}

@mixin container {
  width: 960px;
  margin: 0 auto;
  padding: 0 $baseSpacing;
}

@mixin card-gutters {
  padding-left: $baseSpacing;
  padding-right: $baseSpacing;
}

@mixin heading($size: 26px) {
  font-size: $size;
  line-height: 1.2;
}

@mixin body-copy {
  font-size: 16px;
  line-height: 1.1;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@mixin spinner {
  -webkit-animation: rotation 1.5s infinite linear;
}
