$baseSpacing: 20px;
$halfSpacing: $baseSpacing / 2;

// Colors
$black: #000;
$white: #fff;
$gray: #696b66;
$dark-gray: #2a2b29;

// HEX
$terra-cotta: #ed6a5a;
$blonde: #f4f1bb;
$cambridge-blue: #9bc1bc;
$cadet-blue: #5ca4a9;
$platinum: #e6ebe0;

/* RGB */
$terra-cotta-rgb: rgba(237, 106, 90, 1);
$blonde-rgb: rgba(244, 241, 187, 1);
$cambridge-blue-rgb: rgba(155, 193, 188, 1);
$cadet-blue-rgb: rgba(92, 164, 169, 1);
$platinum-rgb: rgba(230, 235, 224, 1);
